<!DOCTYPE html>
<html lang ="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=”http://www.ultraq.net.nz/thymeleaf/layout”
      xmlns:sec="http://www/thymeleaf.org"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .container {
            max-width: 2000px; /* Увеличьте это значение для увеличения ширины строки */
        }
    </style>

</head>
<body>
<section layout:fragment="body" class="py-5">

    <div class="container mt-5">
        <div class="row">
            <h5 th:text="'Category: ' + ${category}" style="font-family: 'Times New Roman', serif; color: white; font-size: 50px"></h5>

            <hr style="border: 2px solid #ccc; border-color: #032738">
            </br>

            <div th:if="${news_list.data.isEmpty()}" class="alert alert-info">
                There are no news
            </div>
            <!-- Thymeleaf for each loop to iterate over news_list -->
            <div th:each="news : ${news_list.data}" class="col-lg-2"> <!-- Change this to col-md-3 for 4 cards in a row -->
                <div class="card mb-4" style="overflow: auto">
                    <div class="card-body" style="height: 400px;width: 300px;">
                        <h5 class="card-title" th:text="${news.title}"></h5>
                        <p class="card-text">
                            <strong>Published Date:</strong> <span th:text="${news.pubdate}"></span><br/>
                            <strong>Categories:</strong>
                            <span th:each="category : ${news.category}" th:text="${category}+' '"></span>
                            <span th:if="${#lists.isEmpty(news.category)}">no specified</span>
                            <br/><strong>Language :</strong> <span th:text="${news.language}"></span><br/>
                        </p>
                    </div>
                    <a class="btn btn-primary" th:href="@{/news/{newsId}(newsId = ${news.id})}">Detail</a>
                </div>
            </div>
        </div>
    </div>
    <!--Pagination-->
    <nav aria-label="Pagination" style="position: static">
        <ul class="pagination justify-content-center my-4">
            <li class="page-item" th:class="${news_list.pageNo == 0} ? 'disabled' : ''">
                <a class="page-link" th:href="@{/news/category/{category}(pageNo=${news_list.pageNo - 1}, pageSize=${news_list.pageSize},category=${category})}" tabindex="-1" aria-disabled="true">Newer</a>
            </li>
            <li th:each="pageNumber : ${#numbers.sequence(0, news_list.totalPages - 1)}" class="page-item" th:class="${pageNumber == news_list.pageNo} ? 'active' : ''">
                <a class="page-link" th:href="@{/news/category/{category}(pageNo=${pageNumber}, pageSize=${news_list.pageSize},category=${category})}" th:text="${pageNumber + 1}"></a>
            </li>
            <li class="page-item" th:class="${news_list.pageNo == news_list.totalPages - 1} ? 'disabled' : ''">
                <a class="page-link" th:href="@{/news/category/{category}(pageNo=${news_list.pageNo + 1}, pageSize=${news_list.pageSize},category=${category})}">Older</a>
            </li>
        </ul>
    </nav>
</section>
</body>
</html>
