<!DOCTYPE html>
<html lang ="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout=”http://www.ultraq.net.nz/thymeleaf/layout”
      xmlns:sec="http://www/thymeleaf.org"
      layout:decorate="~{layout}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .container {
            max-width: 2000px;
        }
        h3 {
            color: #b6b6b6;
            font-family: 'Arial', serif;
            font-size: 25px;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding-bottom: 10px;
            margin-bottom: 20px;
        }
        .btn {
            display: inline-block;
            font-weight: 400;
            color: #ffffff;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            background-color: #021d44;
            border: 1px solid transparent;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            border-radius: .25rem;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            margin-top: 20px;
        }

        .btn:hover {
            color: #ffffff;
            background-color: #5d5d5d;
            border-color: #bbb4b4;
        }
    </style>

</head>
<body  layout:fragment="body" th:data-page-no="${news.pageNo}" th:data-page-size="${news.pageSize}" th:data-category="${category}" th:data-language="${language}" th:data-query="${query}" th:total-pages="${news.totalPages}" th:news-data="${news.data}" th:news-sort="${sort}">
<section class="py-5">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                <form id="newsForm" action="/news/find" method="get">
                    <h3 style="margin-top: 10px ; margin-bottom: 0px">Categories</h3>
                    <select name="category" id="category" class="list-group" style="width:400px;height: 40px">
                        <option value="">No Specify</option>
                        <option value="top">Top</option>
                        <option value="sports">Sport</option>
                        <option value="environment">Environment</option>
                        <option value="crime">Crime</option>
                        <option value="health">Health</option>
                        <option value="entertainment">Entertainment</option>
                        <option value="politics">Politics</option>
                        <option value="science">Science</option>
                        <option value="business">Business</option>
                        <option value="tourism">Tourism</option>
                        <option value="world">World</option>
                        <option value="other">Other</option>
                    </select>



                    <h3 style="margin-top: 10px ; margin-bottom: 0px">Language</h3>
                    <select name="language" id="language" style="width:400px; height: 40px">
                        <option value="">No Specify</option>
                        <option value="arabic">Arabic</option>
                        <option value="chinese">Chinese</option>
                        <option value="dutch">Dutch</option>
                        <option value="english">English</option>
                        <option value="finnish">Finnish</option>
                        <option value="french">French</option>
                        <option value="german">German</option>
                        <option value="greek">Greek</option>
                        <option value="hebrew">Hebrew</option>
                        <option value="hindi">Hindi</option>
                        <option value="hungarian">Hungarian</option>
                        <option value="icelandic">Icelandic</option>
                        <option value="indonesian">Indonesian</option>
                        <option value="italian">Italian</option>
                        <option value="japanese">Japanese</option>
                        <option value="korean">Korean</option>
                        <option value="latvian">Latvian</option>
                        <option value="lithuanian">Lithuanian</option>
                        <option value="malay">Malay</option>
                        <option value="norwegian">Norwegian</option>
                        <option value="persian">Persian</option>
                        <option value="polish">Polish</option>
                        <option value="portuguese">Portuguese</option>
                        <option value="romanian">Romanian</option>
                        <option value="russian">Russian</option>
                        <option value="serbian">Serbian</option>
                        <option value="slovenian">Slovenian</option>
                        <option value="spanish">Spanish</option>
                        <option value="swedish">Swedish</option>
                        <option value="thai">Thai</option>
                        <option value="turkish">Turkish</option>
                        <option value="ukrainian">Ukrainian</option>
                        <option value="vietnamese">Vietnamese</option>
                        <option value="slovak">Slovak</option>
                    </select>


                    <h3 style="margin-top: 10px ; margin-bottom: 0px" >Publication Date</h3>
                    <input id="pubDate" type="date"  name="pubDate"> <!--Name must be the same as name is @RequestedParam in Controller-->



                    <h3 style="margin-top: 10px ; margin-bottom: 0px">Sort By</h3>
                    <select name="sort" id="sort" style="width:400px; height: 40px">
                        <option value="">No Specify</option>
                        <option value="views">Views</option>
                        <option value="likes">Likes</option>
                        <option value="comments">Comments</option>
                    </select>
                    <br/>
                    <input type="submit" value="Search" class="btn">
                </form>
            </div>

            <div class="col-md-8">
                <div>
                    <form id ="searchForm" th:action ="@{/news/find}" class="form-inline my-2 my-lg-0 mb-3">
                        <input id="query" name="query" class ="form-control mr-sm-2 mb-5" type="search" placeholder="Search news" aria-label="Search">
                    </form>
                </div>
                <div th:if="${news==null || #lists.isEmpty(news.getData())}" class="alert alert-info">
                    There are no news available
                </div>
                <div th:if="${news != null}">
                    <div class="row" >
                        <div th:each="news : ${news.data}" class="col-lg-3">
                            <div class="card mb-4" style="overflow: auto">
                                <div class="card-body" style="height: 400px;width: 300px;">
                                    <h5 class="card-title" th:text="${news.title}"></h5>
                                    <p class="card-text">
                                        <strong>Published Date:</strong> <span th:text="${news.pubdate}"></span><br/>
                                        <strong>Categories:</strong>
                                        <span th:each="category : ${news.category}" th:text="${category}+' '"></span>
                                        <span th:if="${#lists.isEmpty(news.category)}">no specified</span>
                                        <br/><strong>Language :</strong> <span th:text="${news.language}"></span><br/>
                                        <strong>Views: </strong><span th:text="${news.pageVisitingCount}"/>
                                    </p>
                                </div>
                                <a class="btn btn-primary" th:href="@{/news/{newsId}(newsId = ${news.id})}">Detail</a>
                            </div>
                        </div>
                    </div>



                    <!--Pagination-->
                    <th:block th:with="startPage=${news.pageNo > 5 ? news.pageNo - 5 : 0}"  th:if="${news != null && !#lists.isEmpty(news.data) }">
                        <nav aria-label="Pagination">
                            <ul class="pagination justify-content-center my-4">
                                <li class="page-item" th:class="${news.pageNo == 0} ? 'disabled' : ''">
                                    <a class="page-link" id="newerLink"  aria-disabled="true" ><-</a> <!-- ← - "left arrow"-->
                                </li>

                                <li th:each="pageNumber : ${#numbers.sequence(startPage, news.totalPages - 1)}" class="page-item" th:class="${pageNumber == news.pageNo} ? 'active' : ''">
                                    <a th:if="${pageNumber <= news.pageNo + 5}" class="page-link page-number-link" th:text="${pageNumber+1}"></a>
                                    <a th:if="${pageNumber == news.totalPages}" class="page-link page-number-link" th:text="${pageNumber}" ></a>
                                </li>

                                <li class="page-item" th:class="${news.pageNo == news.totalPages - 1} ? 'disabled' : ''">
                                    <a class="page-link" id="olderLink" >-></a> <!-- → - "right arrow"-->
                                </li>
                            </ul>
                        </nav>
                    </th:block>

                    <script>
                            let path = window.location.pathname;
                            let body = document.querySelector('body');
                            let pageNo = parseInt(body.getAttribute('data-page-no') || 0);
                            let pageSize = parseInt(body.getAttribute('data-page-size') || 10);
                            let totalPages = parseInt(body.getAttribute('total-pages'));
                            // search parameters
                            let category = ''; let language = ''; let query = ''; let pubDate = ''; let sort = '';
                            // If we are on the /news/find or /news/search page, get the selected category, language and search query from localStorage
                            if (path === '/news/find') {
                                category = localStorage.getItem('selectedCategory') || '';
                                language = localStorage.getItem('selectedLanguage') || '';
                                pubDate = localStorage.getItem('selectedPubDate') || '';
                                query = localStorage.getItem('selectedQuery') || '';
                                sort = localStorage.getItem('selectedSort') || '';
                            }
                            console.log("sort",sort);
                            if (category && category !== '') {
                                category = "&category=" + category;
                            }
                            if (language && language !== '') {
                                language = "&language=" + language;
                            }
                            if (query && query !== '') {
                                query = "&query=" + query;
                            }
                            if (pubDate && pubDate !== '') {
                                pubDate = "&pubDate=" + pubDate;
                            }
                            if(sort && sort !== '') {
                                sort = "&sort=" + sort;
                            }
                            let newPageNo = pageNo - 1; // previous page
                            let oldPageNo = pageNo + 1; // next page
                            // for browser console
                            console.info("Newer: " + newPageNo);
                            console.info("Older: " + oldPageNo);
                            console.info("Current page number: " + pageNo);
                            console.info("PageSize: " + pageSize);
                            console.info("Total pages: " + totalPages);

                            if(totalPages !== 0) {
                                document.getElementById('newerLink').addEventListener('click', function (e) {
                                    e.preventDefault();
                                    if (newPageNo >= 0) {
                                        window.location.href = path + "?pageNo=" + newPageNo + "&pageSize=" + pageSize + category + language + query + pubDate + sort;
                                        body.setAttribute('data-page-no', newPageNo.toString());
                                    }
                                });

                                document.getElementById('olderLink').addEventListener('click', function (e) {
                                    e.preventDefault();
                                    if (oldPageNo <= totalPages) {
                                        window.location.href = path + "?pageNo=" + oldPageNo + "&pageSize=" + pageSize + category + language + query + pubDate + sort;
                                        body.setAttribute('data-page-no', oldPageNo.toString());
                                    }
                                });
                                let pageNumberLinks = document.getElementsByClassName('page-number-link');
                                for (let i = 0; i < pageNumberLinks.length; i++) {
                                    let pageNumber = parseInt(pageNumberLinks[i].innerText); // take numbers inside "pagination buttons "
                                    pageNumberLinks[i].href = path + "?pageNo=" + (pageNumber - 1) + "&pageSize=" + pageSize + category + language + query + pubDate + sort;
                                }
                            }
                            document.getElementById('newsForm').addEventListener('submit', function (e) {
                                e.preventDefault();
                                localStorage.setItem('selectedQuery', '');
                                let category = document.getElementById('category').value;
                                let language = document.getElementById('language').value;
                                let pubDate = document.getElementById('pubDate').value;
                                let sort = document.getElementById('sort').value;
                                let url = '/news/find'; let params = [];

                                // Store category , language , pubdate and sort to localStorage
                                localStorage.setItem('selectedCategory', category);
                                localStorage.setItem('selectedLanguage', language);
                                localStorage.setItem('selectedPubDate', pubDate);
                                localStorage.setItem('selectedSort',sort);

                                console.log("language: "+ language);

                                if (category !== '') {
                                    params.push('category=' + encodeURIComponent(category));
                                }
                                if (language !== '') {
                                    params.push('language=' + encodeURIComponent(language));
                                }
                                if (pubDate !== '') {
                                    params.push('pubDate=' + encodeURIComponent(pubDate));
                                }
                                if (sort !== '') {
                                    params.push('sort=' + encodeURIComponent(sort));
                                }
                                if (category === '' && language === '' && pubDate === '' && sort === '') {
                                    window.location.href = '/news';
                                    return;
                                }
                                if (params.length > 0) {
                                    url += '?' + params.join('&');
                                }
                                window.location.href = url;
                            });
                            document.getElementById('searchForm').addEventListener('submit', function (e) {
                                e.preventDefault();
                                let query = document.getElementById('query').value;
                                let url = '/news/find';
                                let params = [];
                                localStorage.setItem('selectedQuery', query);
                                if (query !== '') {
                                    params.push('query=' + encodeURIComponent(query));
                                }
                                if (query === '') {
                                    window.location.href = '/news';
                                    return;
                                }
                                if (params.length > 0) {
                                    url += '?' + params.join('&');
                                }
                                window.location.href = url;
                            });

                            // Get category , language , pubdate and sort from localStorage
                            let selectedCategory = localStorage.getItem('selectedCategory');
                            let selectedLanguage = localStorage.getItem('selectedLanguage');
                            let selectedPubDate = localStorage.getItem('selectedPubDate');
                            let selectedQuery = localStorage.getItem('selectedQuery');
                            let selectedSort = localStorage.getItem('selectedSort');

                            // Find select and input elements on the page
                            let categorySelect = document.getElementById('category');
                            let languageSelect = document.getElementById('language');
                            let pubDateSelect = document.getElementById('pubDate');
                            let querySelect = document.getElementById('query');
                            let sortSelect = document.getElementById('sort');

                            // Set the selected values for each select and input
                            if (selectedCategory) { categorySelect.value = selectedCategory; }
                            if (selectedLanguage) { languageSelect.value = selectedLanguage; }
                            if (selectedPubDate) { pubDateSelect.value = selectedPubDate; }
                            if (selectedQuery) { querySelect.value = selectedQuery; }
                            if (selectedSort) { sortSelect.value = selectedSort; }

                            // Get the attribute of news data
                            let newsData = JSON.parse(body.getAttribute("news-data") || "[]");

                            // Log these values to see if they are what we expect
                            console.log("Selected Category:", selectedCategory);
                            console.log("Selected Language:", selectedLanguage);
                            console.log("Selected Publication Date:", selectedPubDate);
                            console.log("Selected Query:", selectedQuery);
                            console.log("News Data:", newsData);

                            // if all are empty --> redirect to news
                            if (newsData.length.valueOf() == 0 && (selectedCategory === '' && selectedLanguage === '' && selectedPubDate === '' && selectedQuery ==='' && selectedSort ==='')) { // тут проблема в selectedCategory и selectedLanguage
                                console.log("redirect to /news");
                                window.location.href = '/news';
                            }

                    </script>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>