<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www/thymeleaf.org"
      layout:decorate="~{layout}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
            background-image: url("/assets/img/detailPage.jpg");
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            background-size: cover;
        }
        .news-container {
            display: flex;
            overflow-x: auto;
            padding: 20px;
            gap: 20px;
        }
        .card {
            flex: 0 0 auto;
            width: 300px;
            overflow: auto;
        }

    </style>
</head>
<body>
    <section layout:fragment="body" style="margin-left: 20px">
        <div >
               <h2 style="color: black">Profil Information</h2>
               <p><strong>Id:</strong> <span th:text="${user.id}"/></p>
               <p><strong>Username:</strong> <span th:text="${user.username}"/></p>
               <p><strong>Email:</strong> <span th:text="${user.email}"/></p>
               <p><strong>Town:</strong> <span th:if="${user.town} != null" th:text="(${user.town.trim()} != '' ? ${user.town} : 'undefined')"></span></p>
               <p><strong>Phone number:</strong> <span th:text="(${user.phoneNumber} != null ? ${user.phoneNumber} : 'undefined')"></span></p>
        </div>
        <hr style="border: 2px solid #ccc; border-color: #032738">
        <h2  > Recently Seen News</h2>
        <span th:if="${user.seenNews == null or #lists.isEmpty(user.seenNews)}" style="margin-left: 10px">There are no news</span>
        <div th:if="${user.seenNews != null}" class="news-container">
            <div th:each="news, iterStat : ${user.seenNews}" th:if="${iterStat.index >= user.seenNews.size() - 5}">
                <div class="card mb-4">
                    <div class="card-body" style="height: 400px;">
                        <h5 class="card-title" th:text="${news.title}"></h5>
                        <p class="card-text">
                            <strong>Published Date:</strong> <span th:text="${news.pubdate}"></span><br/>
                            <strong>Categories:</strong>
                            <span th:each="category : ${news.category}" th:text="${category}+' '"></span>
                            <span th:if="${#lists.isEmpty(news.category)}">no specified</span>
                            <br/><strong>Language :</strong> <span th:text="${news.language}"></span><br/>
                            <strong>Views: </strong><span th:text="${news.pageVisitingCount}"></span>
                        </p>
                    </div>
                    <a class="btn btn-primary" th:href="@{/news/{newsId}(newsId = ${news.id})}">Detail</a>
                </div>
            </div>
        </div>
        <hr style="border: 2px solid #ccc; border-color: #032738">
        <h2> Liked News</h2>
        <span th:if="${user.likedNews == null or #lists.isEmpty(user.likedNews)}" style="margin-left: 10px">There are no news</span>
        <div th:if="${user.seenNews != null}" class="news-container">
            <div th:each="news, iterStat : ${user.likedNews}" th:if="${iterStat.index >= user.likedNews.size() - 5}">
                <div class="card mb-4">
                    <div class="card-body" style="height: 400px;">
                        <h5 class="card-title" th:text="${news.title}"></h5>
                        <p class="card-text">
                            <strong>Published Date:</strong> <span th:text="${news.pubdate}"></span><br/>
                            <strong>Categories:</strong>
                            <span th:each="category : ${news.category}" th:text="${category}+' '"></span>
                            <span th:if="${#lists.isEmpty(news.category)}">no specified</span>
                            <br/><strong>Language :</strong> <span th:text="${news.language}"></span><br/>
                            <strong>Views: </strong><span th:text="${news.pageVisitingCount}"></span>
                        </p>
                    </div>
                    <a class="btn btn-primary" th:href="@{/news/{newsId}(newsId = ${news.id})}">Detail</a>
                </div>
            </div>
        </div>
        <hr style="border: 2px solid #ccc; border-color: #032738">
        <h2> Your Last Comments </h2>
        <span th:if="${user.comments == null or #lists.isEmpty(user.comments)}" style="margin-left: 10px">There are no comments</span>
        <div th:if="${user.seenNews != null}" >
            <div th:each="comment, iterStat : ${user.comments}" th:if="${iterStat.index >= user.comments.size() - 5}">
                <div class="comment" style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; border-radius: 5px; position: relative; width: 1000px; background-color: #b0b0b0;">
                <div style="display: flex; justify-content: space-between;">
                    <div>
                        <p class="comment-author" th:text="${comment.author}+':'" style="font-size: 1.2em; font-weight: bold; color: #000742;"></p>
                        <p class="comment-text" th:text="${comment.text}" style="font-size: 1.2em; line-height: 1.5; color: #000000;"></p>
                    </div>
                    <div style="align-self: flex-start; text-align: right;">
                        <p class="comment-text" th:text="${comment.pubDate}" style="font-size: 1.2em; line-height: 1.5; color: #000000;"></p>
                        <strong>Likes: </strong><span th:text="${comment.likes}"></span>
                        <strong>Dislikes: </strong><span th:text="${comment.dislikes}"></span>
                    </div>
                </div>
            </div>

        </div>
            <div th:if="${user.hasAdminRole()}" style="margin-top: 10px">
                <hr style="border: 2px solid #ccc; border-color: #032738">
                <h2>List of users:</h2>
                <form id ="searchForm" th:action ="@{/users/find}" class="form-inline my-2 my-lg-0 mb-3">
                    <input id="query" name="query" class ="form-control mr-sm-2 mb-5" type="search" placeholder="username" aria-label="Search" style="width: 400px; height: 50px">
                </form>
                <div style="max-height: 1000px" class="overflow-x-scroll" th:if="${users != null and !users.isEmpty()}">
                    <div class="row">
                        <div th:each="user : ${users}" class="col-md-4 mb-3">
                            <div class="card mx-2" style="width: 100%">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${user.username}"></h5>
                                    <p class="card-text">
                                        <strong>Id: </strong> <span th:text="${user.id}"></span><br/>
                                        <strong>Email: </strong> <span th:text="${user.email}"></span><br/>
                                        <strong>City: </strong> <span th:text="${user.town}"></span><br/>
                                        <strong>Comments number: </strong> <span th:text="${user.comments.size()}"></span><br/>
                                        <strong>Last Liked: </strong>
                                        <span th:if="${user.likedNews.isEmpty()}">No liked news</span>
                                        <a th:if="${!user.likedNews.isEmpty()}" th:href="@{/news/{newsId}(newsId = ${user.likedNews.get(user.likedNews.size() - 1).id})}" th:text="${user.likedNews.get(user.likedNews.size() - 1).title}"></a><br/>
                                        <strong>Creation date: </strong> <span th:text="${user.creationDate}"></span><br/>
                                    <form th:action="@{/users/delete/{id}(id=${user.id})}" method="post">
                                        <input type="submit" value="Delete" class="btn btn-primary" style="position: absolute; bottom: 0; right: 5px;">
                                    </form>

                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </section>
</div>
</body>
</html>
